body {
    margin: 0;
    height: 100vh;
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
  }
  .buttons{
    display: flex;
    flex-wrap: wrap;
  }
  .colorButton{
    height:15px;
    width:15px;
    color: black;
  }
  button{
    height:fit-content;
    width:fit-content;
    border-radius: 50%;
    border: darkslategrey solid 2px;
    padding: 10px 15px; 
    margin: 5px;
    text-align: center;
    align-items: center;
  }
nav{
  display:flex;
}
nav>a{
  padding: 10px;
}
nav>a:hover{
  background-color: black;
  color: white;
  transition: 1s;
}
