body {
    margin: 0;
    height: 100vh;
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .buttons{
    display: flex;
    flex-wrap: wrap;
  }
  button{
    height:15px;
    width:15px;
    color: black;
    border-radius: 50%;
    border: darkslategrey solid 2px;
    padding: 10px 15px; 
    margin: 5px;
    text-align: center;
    align-items: center;
  }
  .button{
    height:fit-content;
    width:fit-content;
  }
