body {
    margin: 0;
    height: 100vh;
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
  }
.buttons{
  display: flex;
  flex-wrap: wrap;
}
.colorButton{
  height:15px;
  width:15px;
  color: black;
}
button{
  height:fit-content;
  width:fit-content;
  border-radius: 50%;
  border: darkslategrey solid 2px;
  padding: 10px 15px; 
  margin: 5px;
  text-align: center;
  align-items: center;
}
nav{
  display:flex;
}
nav>a{
  padding: 10px;
}
nav>a:hover{
  background-color: black;
  color: white;
  transition: 1s;
}
.bounce {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.easterEgg>*{
  color:teal;
  text-align: center;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  line-height: 2;
}
li{
  list-style-type: none;
}
.hiddenHover {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
}
.all>*{
  text-align: center;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.project-showcase {
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 1s ease-in-out;
  
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
}

.image{
  height: auto;
  display: block;
  width: 300px;
  height: 300px;
  
}
.span{
  width: 34%;
}